
#countries-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#countries-table td, #countries-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#countries-table tr:nth-child(even){background-color: #f2f2f2;}

#countries-table tr:hover {background-color: #ddd;}

#countries-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00afdb;
    color: white;
}
