<!-- welcome.erb -->
<h1>Welcome to Rock, Paper, Scissors!</h1>

<p>To play the game:</p>
  <ul>
    <li>go to the url "localhost:4567/game/player1_choice/player2_choice"</li>
    <li>replace 'player1_choice' with any of the options Rock, Paper or Scissors</li>
    <li>do the same with 'player2_choice'</li>
    <li>run the url to see the result of your game!</li>
  </ul>
