<!--NOTE To create a new route
1. Create a link
2. Create the view (erb)
3. Add the route to the controller
4. Go back to step 1 for next route -->
<h1>About Us</h1>
<p>This page is all about us. We be making great calculators.</p>
