
<!-- Sinatra will only look for erb files in the folder called views - take NOTE -->
<!-- ALSO NOTE THAT THERE IS AN EQUALS SIGN IN THE TAG, WE NEED THAT IF WE WANT TO DISPLAY ANYTHING FROM THE TAG! -->
<h1>The result of the calculation is <%= @calculation %> </h1>
